vault {
  address = "__VAULT_ADDR__"
  renew  = false
}

ssl {
  enabled = true
  verify  = true
  ca_cert = "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
}


secret {
  no_prefix = true
  path   = "/secret/landscape/__GIT_BRANCH__/__K8S_NAMESPACE__/__HELM_CHART__"
}
