vault {
  address = "__VAULT_ADDR__"
  token   = "__VAULT_TOKEN__"
  renew   = false
}

ssl {
  enabled = __VAULT_SSL_ENABLED__
  verify  = __VAULT_SSL_ENABLED__
  ca_cert = "__VAULT_CACERT__"
}


secret {
  no_prefix = true
  path      = "/secret/landscape/__GIT_BRANCH__/__K8S_NAMESPACE__/__CHART_NAME__"
}
